// botão lateral que passa os slides
.swiper-button-next {
  right: 45px;
}
.swiper-button-prev {
  left: 45px;
}

// cor do botão lateral que passa para proximo slide
.swiper-button-prev:after, .swiper-button-next:after{
  color: #FFBA08;
}

// bolinhas de baixo da tela do slide
.swiper-pagination-bullet{
  width:16px;
  height:16px;
  background:#999999;
  opacity: 1;
}

// cor da bolinha qu está ativa
.swiper-pagination-bullet-active{
  background:#FFBA08 ;
}

//responsivo
@media(max-width:30em) {
  .swiper-button-next {
      right: 15px;
  }
  .swiper-button-prev {
      left: 15px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
      font-size:1.2rem;
  }

  .swiper-pagination-bullet{
      width:8px;
      height:8px;
  }
}